@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/buttons";
@import "utilities/animations";
@import "utilities/grid";
@import "utilities/typography";
@import "utilities/utilities";


@import "layout/footer";
@import "layout/header";



*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
}

html{
    font-size: 62.5%; // 10px
    background-color: $color-black;
}

body{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif; //backup
    font-weight: 400;
    line-height: 1.5;
}



// MAIN !!!--------
.main{
    // height: 300px;
    width: 100%;
    background: linear-gradient(180deg, $color-black, $color-blue);
    background-color: black;
    color: red;
    padding: 5rem 4rem;

    &_first{
        overflow: hidden;

        &-left{
            text-align: left;
            float: left;
            width: 45%;
        }
        
        &-right{
            float: left;
            width: 55%;
            text-align: center;
        }
    
        .right-drone{
            width: 85%;
        }
    }

    &_second{
        width: 70%;
        height: 40rem;
        margin: 0 auto;
        border-radius: 2rem 2rem 2rem 10rem;
        background-color: $color-black;
        margin-top: 13rem;
        margin-bottom: 11rem;

        &-video{
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: 2rem 10rem 2rem 10rem;
            z-index: 999;
            opacity: .7;
        }
    }

    &_third{
        text-align: center;

        &-btn{
            display: inline-block;
            height: 3.5rem;
        }
    }
}

// music
.music{
    width: 100%;
    height: 50rem;
    text-align: center;
    background: linear-gradient(
        to right bottom,
        rgba($color-black, .4),
        rgba($color-black, .9)),
        url(../img/music.jpg);
    background-size: cover;
    position: relative; 

    &_content{
        height: 20rem;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

//article
.article{
    width: 100%;
    text-align: center;
}

/* ---- carousel.css ---- */
