.btn {
  color: #ddd;
  border-bottom: 1px solid #ddd; }
  .btn:link, .btn:visited {
    text-decoration: none; }
  .btn:hover {
    font-size: 2.6rem; }
  .btn:active {
    font-size: 2.5rem; }

.btn_icon {
  margin-top: 3rem;
  width: 14%;
  animation: moveInBottom 1s ease-out; }
  .btn_icon:hover {
    width: 15%;
    margin-top: 2.9rem; }
  .btn_icon:active {
    width: 14%;
    margin-top: 3rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 0rem; }
  .row .col-1-of-2 {
    width: calc((100% - 0rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 0rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 0rem) / 3) + 0rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 0rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 0rem) / 4) + 0rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 0rem) / 4) + 2 * 0rem); }

.heading_primary {
  text-transform: uppercase;
  color: #f9f9f9;
  line-height: 1; }
  .heading_primary-1 {
    display: block;
    font-size: 4.5rem;
    font-weight: 300;
    animation: moveInLeft 1s ease-in; }
  .heading_primary-2 {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: .1rem;
    padding-top: 1.5rem;
    animation: moveInRight 1s ease-in;
    background-image: linear-gradient(to top, #fff, #888888);
    -webkit-background-clip: text;
    color: transparent; }

.heading_secondary {
  text-transform: uppercase;
  color: #fff;
  line-height: 1.5;
  font-weight: 700;
  font-size: 6rem;
  background-image: linear-gradient(to bottom right, #888888, #fff);
  -webkit-background-clip: text;
  color: transparent; }
  .heading_secondary span {
    display: block; }

.heading_tertiary {
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
  font-size: 10rem;
  letter-spacing: .3rem;
  background-image: linear-gradient(to bottom, #888888, #fff);
  -webkit-background-clip: text;
  color: transparent; }

.heading_special {
  color: #fff;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: .3rem;
  margin: 10rem 0;
  font-size: 12rem;
  background-image: linear-gradient(to bottom, #888888, #fff);
  -webkit-background-clip: text;
  color: transparent; }

.paragraph-small {
  font-size: 1.5rem;
  color: #fff; }
  .paragraph-small a,
  .paragraph-small a:link,
  .paragraph-small a:visited,
  .paragraph-small a:hover,
  .paragraph-small a:active {
    color: #fff;
    text-decoration: none; }

.paragraph-medium {
  font-size: 2.5rem;
  color: #fff; }

.paragraph-big {
  font-size: 3.5rem;
  color: #fff; }

.nav_list {
  font-weight: 300;
  font-size: 2.8rem; }
  .nav_list li {
    display: inline-block;
    padding: 0 0.5rem;
    list-style-type: none; }
  .nav_list li:last-child {
    margin-right: 3rem; }
  .nav_list a,
  .nav_list a:link
a:visited {
    text-decoration: none;
    color: #fff; }
  .nav_list a:hover,
  .nav_list a:active {
    border-bottom: 1px solid #f9f9f9; }
  .nav_list a:active {
    font-size: 2.7rem;
    font-weight: 400;
    padding: 0 0.1rem; }

.social_list li {
  display: inline-block; }

.social_list-img {
  height: 2.3rem;
  width: 4rem;
  padding-left: .5rem; }
  .social_list-img:hover {
    height: 2.4rem; }
  .social_list-img:active {
    height: 2.3rem; }

.heading-footer {
  margin-bottom: 1.5rem;
  font-size: 2.6rem;
  font-weight: 300;
  color: #fff; }

.list-footer {
  font-size: 1.8rem;
  font-weight: 200;
  color: #f9f9f9; }
  .list-footer li {
    list-style: none;
    color: #d2d2d2;
    padding-bottom: .5rem; }
    .list-footer li a,
    .list-footer li a:link,
    .list-footer li a:visited,
    .list-footer li a:hover,
    .list-footer li a:active {
      color: #d2d2d2;
      text-decoration: none; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-extra {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 1rem; }

.u-margin-top-medium {
  margin-top: 3rem; }

.u-margin-top-big {
  margin-top: 5rem; }

.u-margin-top-extra {
  margin-top: 8rem; }

.u-margin-left-small {
  margin-left: 2rem; }

.u-paragraph-margin {
  margin-left: 15rem;
  margin-right: 15rem; }

.vezi_oferta {
  margin: 8rem;
  height: 3.5rem;
  display: inline-block;
  background-color: #000; }

.footer {
  margin: 0 6rem;
  color: #d2d2d2;
  background-color: #000; }
  .footer_section {
    float: left;
    width: 25%;
    text-align: left; }
    .footer_section-1 {
      padding-left: 3rem; }
  .footer_img {
    text-align: right; }
    .footer_img-logo {
      height: 6.5rem;
      max-width: 100%; }
    .footer_img-booking {
      height: 3.5rem;
      max-width: 90%; }
  .footer_form {
    position: relative;
    color: white; }
    .footer_form #subscr {
      height: 3rem;
      border: 3px solid gray;
      position: relative;
      right: 4rem;
      color: #fff; }
    .footer_form-img {
      height: 3rem;
      position: absolute;
      right: 0;
      border: 2px solid gray; }
  .footer_clear {
    clear: both; }
  .footer_paragraph {
    border-top: 1px solid #888888;
    padding: 1rem 0;
    overflow: hidden; }
    .footer_paragraph-1 {
      float: left; }
    .footer_paragraph-2 {
      float: right; }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to left bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(../img/mountain.png);
  background-size: cover;
  background-position: top;
  background-color: #000;
  line-height: 1.5;
  border-radius: 0 0 15rem 0; }
  .header_logo {
    display: inline-block;
    position: absolute;
    top: 2.5rem;
    left: 6rem; }
    .header_logo-img {
      height: 9.5rem; }
  .header_nav {
    width: 55%;
    position: absolute;
    right: 7rem;
    top: 6.8rem;
    text-align: right; }
    .header_nav-menu {
      display: inline-block; }
    .header_nav-social {
      display: inline-block; }
  .header_text {
    height: 20rem;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
  -webkit-box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #000; }

body {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.main {
  width: 100%;
  background: linear-gradient(180deg, #000, #02021c);
  background-color: black;
  color: red;
  padding: 5rem 4rem; }
  .main_first {
    overflow: hidden; }
    .main_first-left {
      text-align: left;
      float: left;
      width: 45%; }
    .main_first-right {
      float: left;
      width: 55%;
      text-align: center; }
    .main_first .right-drone {
      width: 85%; }
  .main_second {
    width: 70%;
    height: 40rem;
    margin: 0 auto;
    border-radius: 2rem 2rem 2rem 10rem;
    background-color: #000;
    margin-top: 13rem;
    margin-bottom: 11rem; }
    .main_second-video {
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: 2rem 10rem 2rem 10rem;
      z-index: 999;
      opacity: .7; }
  .main_third {
    text-align: center; }
    .main_third-btn {
      display: inline-block;
      height: 3.5rem; }

.music {
  width: 100%;
  height: 50rem;
  text-align: center;
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(../img/music.jpg);
  background-size: cover;
  position: relative; }
  .music_content {
    height: 20rem;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.article {
  width: 100%;
  text-align: center; }

/* ---- carousel.css ---- */
