//headings
.heading_primary{
    text-transform: uppercase;
    color: $color-white-dark;
    line-height: 1;

    &-1{
        display: block;
        font-size: 4.5rem;
        font-weight: 300;
        animation: moveInLeft 1s ease-in;

    }

    &-2{
        display: block;
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: .1rem;
        padding-top: 1.5rem;
        animation: moveInRight 1s ease-in;
        @include gradientTop;  
    }

}

//-------------
.heading_secondary{
    text-transform: uppercase;
    color: $color-white-light;
    line-height: 1.5;
    font-weight: 400;
    font-size: 6rem;
    @include gradientBott;

    span{
        display: block;
    }

    &-offer{
        text-align: center;
    }
}

//------------------
.heading_tertiary{
    color: $color-white-light;
    line-height: 1.2;
    font-weight: 400;
    font-size: 10rem;
    letter-spacing: .3rem;
    @include gradientTop;
}

//-------------------
.heading_special{
    color: $color-white-light;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: .3rem;
    margin: 10rem 0;
    font-size: 12rem;
    @include gradientTop;
}

//-------------------
.heading_offer{
    &-1{
        @include gradientBott;
        font-size: 6rem;
        font-weight: 300;
    }

    &-2{
        @include gradientBott;
        font-size: 4rem;
        font-weight: 400;
    }
}

//-------------------
.heading-footer{
    margin-bottom: 1.5rem;
    font-size: 2.6rem;
    font-weight: 300;
    color: $color-white-light;
}


//-------------------
.heading-com{
    font-size: 3.5rem;
    color: $color-white-dark;
    @include gradientBott;
}


//paragraph
.paragraph-small{
    font-size: 1.5rem;
    color: $color-white-light;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active{
        color: $color-white-light; //color
        text-decoration: none;
    }
}

//-------------------
.paragraph-medium{
    font-size: 2.5rem;
    color: $color-white-light;
}

//-------------------
.paragraph-big{
    font-size: 3.5rem;
    color: $color-white-light;
}

.paragraph-offer{
    padding-right: 12rem;
    font-size: 1.8rem;
}

//lists
.nav_list{
    font-weight: 300;
    font-size: 2.8rem;
    

    li{
        display: inline-block;
        padding: 0 0.5rem;
        list-style-type: none;
    }

    li:last-child{
        margin-right: 3rem;
    }

    a,
    a:link
    a:visited{
        text-decoration: none;
        color: $color-white-light;
    }

    a:hover,
    a:active{
        border-bottom: 1px solid $color-white-dark;
    }

    a:active{
        font-size: 2.7rem;
        font-weight: 400;
        padding: 0 0.1rem;
    }
}

//------------
.social_list{

    li{
        display: inline-block;
    }

    &-img{
        height: 2.5rem;
        width: 4rem;
        padding-left: .5rem;
        

        &:hover{
            height: 2.4rem;
        }

        &:active{
            height: 2.3rem;
        }
    }
}

//------------
.list-footer{
    font-size: 1.8rem;
    font-weight: 200;
    color: $color-white-dark;

    li{
        list-style: none;
        color: rgb(210, 210, 210); //color
        padding-bottom: .5rem;

        a,
        a:link,
        a:visited,
        a:hover,
        a:active{
            color: rgb(210, 210, 210); //color
            text-decoration: none;
        }
    }
}

.list_contact{
        margin-bottom: 12rem;
        font-size: 2.5rem;

        li{
            margin: 1.5rem 0;
        }

        a,
        a:active,
        a:link,
        a:visited,
        a:hover{
            text-decoration: none;
            color: #000;
        }
    
}