.u-margin-bottom-big{margin-bottom: 6rem; }
.u-margin-bottom-extra{margin-bottom: 8rem; }

.u-margin-top-small{margin-top: 1rem;}
.u-margin-top-medium{margin-top: 3rem;}
.u-margin-top-big{margin-top: 5rem;}
.u-margin-top-extra{margin-top: 8rem; }


.u-paragraph-margin{margin-left: 15rem; margin-right: 15rem;}