//colors
$color-black: #000;

$color-white-light: #fff;
$color-white-dark: #f9f9f9;

$color-gray-light: #ddd;
$color-gray-dark: #c2c2c2;

$color-blue: rgb(2, 2, 28);


$color-heading: #fff;
$color-paragraph: #dcdcdc;
$color-list: #fff;


//font-size
